.item
  display inline-block
  padding 1px 3px
  margin 1px 3px
  border 1px solid BLACK
  width 20%

.pokemon
  display inline-block
  padding 1px 3px
  border 1px solid BLACK
  width 20%
  overflow scroll
  &.empty
     height 0
  list-style none
