- if (pokemon)
  li.pokemon
    ul
      li
        span.name= pokemon.name
      li
        span.trainer
          | #{pokemon.trainer.name} (#{padLeft(pokemon.trainer.id, 5)}#{pokemon.trainer.gender === 'm' ? '♂' : '♀'})
          span.language #{pokedit.pokemon.LANGUAGES[pokemon.trainer.language]}
      |= JSON.stringify(pokemon)
- else
  li.pokemon.empty
