blue = #428bca
lightblue = #72bbfa
red = #c33
white = #fff

body
  padding-top 30px

.item
  display inline-block
  padding 1px 3px
  border 1px solid black
  width 20%

.pokemon
  display inline-block
  padding 1px 3px
  border 1px solid black
  width 20%
  overflow: scroll

.empty
  height 0
  list-style none

.upload
  width 10%
  min-width 320px

.blue
  color blue !important

@keyframes flash
  from
    color lightgrey
  to
    color red

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

animation()
  vendor(animation, arguments)

.flash > a > .navicon
  animation flash 1s ease-in-out infinite alternate

.blue:focus
.blue:hover
  color white !important

.navicon
  margin-right 7px

.container.error
  width 80%
  min-width 320px

.navbar-inverse .navbar-header .navbar-toggle .icon-bar
.navbar-inverse .navbar-header .navbar-brand:hover
.navbar-inverse .navbar-nav > li > a:hover > .navicon
  color: lightblue !important

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.container.error:empty
  display none
